html {
   padding: 0.5em;
}

h1 {
 margin: 0;
}
nav, ul, li {
 margin: 0;
 padding: 0;
}
li {
 display: inline-block;
}
a {
 display: block;
 padding: 0.5em 0.5em 0 0;
 text-decoration: none;
}
#content, header, nav {
 padding-left: 0.5em;
}
article {
 /*float: left;*/
 padding-right: 0.5em;
 display: inline-block;
 vertical-align:top;
}
#artSix {
padding-right: 0;
}
#artOne {
 width: 64.6%;
}
#artTwo {
 width: 31.3%;
}
#artThree, #artFour, #artFive, #artSix {
 width: 23%;
}
footer p{
 text-align: center;
 }
