html {
 background-color: #fff;
 color: #3d222e;
}

.container {
 /*    width: 95%;*/
 max-width: 960px;
 margin: 0 auto;
 border: dotted 0.2em green;
}
header {
 overflow: auto;
}
#loginDiv {
 float: right;
}
section {
 border: inset #71354e 0.2em;
 margin: 0 auto;
 overflow: auto;
 padding: 0.5em;
}

#content {
 border: dashed 0.1em red;
 overflow: auto;
}

.subcontainer {
 width: 47%;
 max-width: 450px;
 line-height: 1em;
 margin-top: 1em;
}

.subcontainerLeft {
 float: left;
 font-size: 80%;
}

.subcontainerRight {
 float: right;
 font-size: 85%;
}

#textareaCss {
 width: 100%;
 font-family: monospace;
}
#administrateTemplates {
 display: none;
}
#html {
 max-height: 30em;
 overflow: auto;
}
#html pre {
 word-wrap: break-word;
 font-family: monospace;
}
#result {
 background-color: #dfcaf6;
}
#iframeResult {
 width: 78%;
 min-height: 30em;
 float: left;
}

.errorMessage {
 color: red;
}

.correctMessage {
 color: green;
}

footer {
 clear: both;
}
