html {
 background-color: #fffacd;
 color: #1A4E19;
}
.container {
 max-width: 960px;
 margin: 0 auto;
 padding: 0.5em;
 /*border: dotted 0.2em green;*/
}
header {
 overflow: auto;
 border-top: double 0.2em #1A4E19;
 border-bottom: double 0.2em #1A4E19;
 padding: 0.5em 0;
}
header, .container, section {
  background-color: #ffffff;
}
input[type="button"] {
 background-color: #fff;
 color: #1A4E19;
}
input {
 border-radius: 0.4em;
}
h1 {
 width: 30%;
 float: left;
display: inline-block;
vertical-align: middle;
}
#loginDiv {
 float: right;
 width: 250px;
}
#loginDiv input {
 font-size: 0.6em;
 margin-right: 0.3em;
}
#loginDiv p {
 margin: 0.3em 0 0.3em 0;
}
section {
 margin: 0 auto;
 overflow: auto;
 padding: 0.5em 0em 0.2em 0em;
 height: 100%;
}
 section input {
  font-size: 0.8em;
 }
#content {
 /*border: dashed 0.1em red;*/
 overflow: auto;
}
#iframeResult {
 width: 78%;
 min-height: 18em;
 float: left;
 margin-bottom: 0;
}
#functions {
 width: 20%;
 float: right;
}
#layoutChoise p, #colorChoise p {
 margin: 0;
 padding-top: 0.3em;
}
#administrateTemplates {
 margin-top: 1em;
}
#templateToAdministrate, #viewTemplates {
 display: block;
}
#subcontainers {
 overflow: auto;
}
.subcontainer {
 width: 47%;
 max-width: 450px;
 line-height: 1em;
 margin-top: 1em;
}

.subcontainerLeft {
 float: left;
}

.subcontainerRight {
 float: right;
}

#textareaCss {
 width: 100%;
 font-family: monospace;
 height: 100%;
  font-size: 85%;
}
#textareaHtml {
 width: 100%;
 font-family: monospace;
 height: 100%;
 font-size: 85%;
}
#administrateTemplates{
 display: none;
}
#html pre {
 word-wrap: break-word;
 font-family: monospace;
}
.errorMessage {
 color: #661818;
}
.correctMessage {
 color: #1A4E19;
}
footer {
 text-align: center;
 clear: both;
 padding: 1em 0; 
}
 footer p {
  margin: 0;
 }
